<%- include('../partials/header') %>

<main class="main" id="main">
    <p class="cartoon-title"><%= data.title %></p>
    <p class="cartoon-year"><%=  data.year %> </p>
    <img class="cartoon-img" src="<%= data.image %>" alt="image of <%= data.title %> ">
</main>

<%- include('../partials/footer') %> 